@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 100px;
}

.heroBg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2560' height='240' preserveAspectRatio='none' viewBox='0 0 2560 240'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1462%26quot%3b)' fill='none'%3e%3crect width='2560' height='240' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M2773.3333333333335 240L0 240 L0 152.96Q54.59 79.55%2c 128 134.13Q251.6 44.4%2c 341.3333333333333 168Q380.28 78.95%2c 469.3333333333333 117.9Q548.69 69.26%2c 597.3333333333333 148.62Q675.82 99.11%2c 725.3333333333333 177.6Q769.46 93.73%2c 853.3333333333333 137.86Q902.94 59.47%2c 981.3333333333333 109.07Q1070.78 70.51%2c 1109.3333333333333 159.96Q1190.3 112.93%2c 1237.3333333333333 193.9Q1337.91 81.15%2c 1450.6666666666665 181.73Q1525.93 43.66%2c 1663.9999999999998 118.93Q1809.18 50.78%2c 1877.333333333333 195.96Q1922.37 113%2c 2005.333333333333 158.03Q2094.86 34.23%2c 2218.6666666666665 123.76Q2336.56 28.32%2c 2432 146.21Q2520.15 106.36%2c 2560 194.51Q2657.34 78.51%2c 2773.3333333333335 175.85z' fill='rgba(245%2c 243%2c 243%2c 1)'%3e%3c/path%3e%3cpath d='M2602.6666666666665 240L0 240 L0 235.02Q77.05 98.73%2c 213.33333333333331 175.78Q300.28 134.72%2c 341.3333333333333 221.67Q389.32 141.66%2c 469.3333333333333 189.65Q569.19 161.51%2c 597.3333333333333 261.37Q648.34 184.38%2c 725.3333333333333 235.38Q813.87 110.59%2c 938.6666666666665 199.13Q1030.13 162.59%2c 1066.6666666666665 254.05Q1123 182.38%2c 1194.6666666666665 238.72Q1277.61 108.33%2c 1407.9999999999998 191.27Q1485.85 141.12%2c 1535.9999999999998 218.97Q1607.82 162.79%2c 1663.9999999999998 234.61Q1741.05 98.33%2c 1877.333333333333 175.38Q1964.93 134.97%2c 2005.333333333333 222.57Q2063.65 152.88%2c 2133.333333333333 211.2Q2216.62 166.49%2c 2261.333333333333 249.78Q2317.84 178.29%2c 2389.333333333333 234.79Q2470.5 102.62%2c 2602.6666666666665 183.79z' fill='rgba(109%2c 40%2c 217%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1462'%3e%3crect width='2560' height='240' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.heroTextShadow {
  text-shadow: 0px 1px 1px black;
}

.seeMore {
  --bg: #333;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.4em 0.7em;
  background: var(--bg);
  transition: 0.2s;
}

.seeMore:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.seeMore:active {
  transform: translate(0);
  box-shadow: none;
}

.bgFile {
  background-image: repeating-linear-gradient(
    45deg,
    #333333 0,
    #333333 2px,
    transparent 0,
    transparent 50%
  );
  background-size: 10px 10px;
  background-color: #0f0f0f;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.uniSelect {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3000' height='100' preserveAspectRatio='none' viewBox='0 0 3000 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask6148%26quot%3b)' fill='none'%3e%3crect width='3000' height='100' x='0' y='0' fill='url(%23SvgjsLinearGradient6149)'%3e%3c/rect%3e%3cpath d='M0 0L1099.28 0L0 6.52z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 6.52L1099.28 0L1700.8899999999999 0L0 45.379999999999995z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 45.379999999999995L1700.8899999999999 0L2025.8 0L0 60.129999999999995z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 60.129999999999995L2025.8 0L2445.35 0L0 62.05z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M3000 100L2545.24 100L3000 92.25z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M3000 92.25L2545.24 100L1572.1499999999996 100L3000 51.39z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M3000 51.39L1572.15 100L750.1800000000001 100L3000 45.68z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M3000 45.68L750.1800000000003 100L529.7400000000002 100L3000 35.92z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask6148'%3e%3crect width='3000' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='75.83%25' y1='825%25' x2='24.17%25' y2='-725%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient6149'%3e%3cstop stop-color='rgba(79%2c 54%2c 128%2c 1)' offset='0.43'%3e%3c/stop%3e%3cstop stop-color='rgba(94%2c 56%2c 121%2c 1)' offset='0.48'%3e%3c/stop%3e%3cstop stop-color='rgba(82%2c 10%2c 105%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
/* demo setup */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

blockquote {
  max-width: 25rem;
  margin-inline: auto;
}

/* blockquote card colors */
blockquote.q-card-color-1 {
  --accent-color: rgb(32 32 54);
  --bg-color: rgb(30 145 254);
  --dot-color: rgb(255 255 255 / 0.35);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(243 243 243);
}

blockquote.q-card-color-2 {
  --accent-color: rgb(243 243 243);
  --bg-color: rgb(33 29 30);
  --dot-color: rgb(255 255 255 / 0.125);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(33 29 30);
}

blockquote.q-card-color-3 {
  --accent-color: rgb(30 145 254);
  --bg-color: rgb(32 32 54);
  --dot-color: rgb(255 255 255 / 0.125);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(243 243 243);
}

/* blockquote card setup*/
blockquote.q-card {
  --padding: 1rem;
  padding: var(--padding);
  color: var(--text-color, black);
  font-weight: 600;
  background-color: var(--bg-color, white);
  display: grid;
  gap: 1rem;
  background-image: radial-gradient(
    circle,
    var(--dot-color, rgb(0 0 0 / 0.125)) calc(25% - 1px),
    transparent 25%
  );
  background-size: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 2px rgb(0 0 0);
}
blockquote.q-card::before {
  --qHeight: 4rem;
  content: "";
  margin-left: calc(var(--padding) * -1);
  margin-top: calc(var(--padding) * -1);
  height: var(--qHeight);
  width: calc(var(--qHeight) * 1.1);
  background-image: radial-gradient(
      circle at bottom right,
      transparent calc(var(--qHeight) / 4 - 1px),
      var(--accent-color, black) calc(var(--qHeight) / 4)
        calc(var(--qHeight) / 2),
      transparent calc(var(--qHeight) / 2 + 1px)
    ),
    linear-gradient(var(--accent-color, black), var(--accent-color, black));
  background-size: calc(var(--qHeight) / 2) calc(var(--qHeight) / 2);
  background-position: top left, bottom left;
  background-repeat: space no-repeat;
}

blockquote.q-card > .author {
  color: var(--text-color-author, white);
  background-color: var(--accent-color, black);
  justify-self: end;
  font-size: 0.75em;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}
blockquote.q-card > .author::before {
  content: "- ";
}
