@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #001219;
}

::-webkit-scrollbar-thumb {
  background: #19212e;
}

::-webkit-scrollbar-thumb:hover {
  background: #19212e;
}
